<div class="glyphicon glyphicon-plus"
      ng-click="showDialog()">
</div>
<div class="modal fade" id="dialog">
  <div class="model-dialog">
    <div class="model-content">
      <div class="model-body">
        <form nonvalidate>
          <label> Title </label>
          <input type="text" ng-model="habit.title" class="form-control"
                 placeholder="Enter title of habit"/>
        </form>
      </div>
      <div  class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button class="btn btn-default" data-dismiss="modal"
                ng-click=update(habit)>Save</button>
      </div>
    </div>
  </div>
</div>
